<!doctype html>
<html lang="en" ng-app="dashboard">

<head>
  <meta charset="utf-8">
  <title>Signup App</title>
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
  <script type="text/javascript">
    window.SAILS_LOCAL = {
      _csrf: '<%= _csrf %>',
      me: <%- JSON.stringify(me) %>
    };
  </script>
</head>

<body ng-controller="DashboardController as dg">
    <h1>This is my dashboard page...</h1>
    <br>Welcome: {{dg.email}}
    <br>
    <a href="/logout">Logout</a>

  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/bower_components/less/dist/less.js"></script>
  <script src="/js/private/dashboard/dashboard.module.js"></script>
  <script src="/js/public/login/login.module.js"></script>
  <script src="/js/public/signup/signup.module.js"></script>
  <script src="/js/private/dashboard/dashboard.component.js"></script>
  <script src="/js/public/login/login.component.js"></script>
  <script src="/js/public/signup/signup.component.js"></script>
  <script src="/js/signup/signup.component.js"></script>
  <!--SCRIPTS END-->
</body>

</html>
