<!doctype html>
<html lang="en" ng-app="dashboard">

<head>
  <meta charset="utf-8">
  <title>Signup App</title>
  <!--STYLES-->
  <link rel="stylesheet" href="/min/production.min.css">
  <!--STYLES END-->
  <script type="text/javascript">
    window.SAILS_LOCAL = {
      _csrf: '<%= _csrf %>',
      me: <%- JSON.stringify(me) %>
    };
  </script>
</head>

<body ng-controller="DashboardController as dg">
    <h1>This is my dashboard page...</h1>
    <br>Welcome: {{dg.email}}
    <br>
    <a href="/logout">Logout</a>

  <!--SCRIPTS-->
  <script src="/min/production.min.js"></script>
  <!--SCRIPTS END-->
</body>

</html>
