<!doctype html>
<html lang="en" ng-app="login">

<head>
  <meta charset="utf-8">
  <title>Signup App</title>
  <!--STYLES-->
  <link rel="stylesheet" href="/min/production.min.css">
  <!--STYLES END-->
</head>

<body ng-controller="LoginController as lg">
  <form ng-submit="lg.submitLogin()">
    <h1>This is my login page...</h1>
    <br>Email:
    <input type="email" name="email" ng-model="lg.email">
    <br>Password:
    <input type="password" name="password" ng-model="lg.password">
    <br>
    <button type="submit">Login</button>
    <br>
    <button type="button" ng-click="lg.inLogin()">In Login</button>
  </form>

  <!--SCRIPTS-->
  <script src="/min/production.min.js"></script>
  <!--SCRIPTS END-->
</body>

</html>
