<!doctype html>
<html lang="en" ng-app="signup">

<head>
  <meta charset="utf-8">
  <title>Signup App</title>
  <!--STYLES-->
  <link rel="stylesheet" href="/min/production.min.css">
  <!--STYLES END-->
</head>

<body ng-controller="SignupController as sc">
  <form name="frm" action="/signup" method="post">
    <h1>This is my signup page...</h1>
    <h2>Hello {{ sc.firstName }}!!</h2>
    <h2>Hello {{ sc.currency }}!!</h2>
    <br>First Name:
    <input type="text" name="firstName" ng-model="sc.firstName">
    <br>Last Name:
    <input type="text" name="lastName" ng-model="sc.lastName">
    <br>Email:
    <input type="email" name="email" ng-model="sc.email">
    <br>Password:
    <input type="text" name="password" ng-model="sc.password">
    <br>
    <button type="submit">Add</button>
  </form>

  <!--SCRIPTS-->
  <script src="/min/production.min.js"></script>
  <!--SCRIPTS END-->
</body>

</html>
