<div class="sectionDecision" style="position: relative; top: 20px; left: 100px; width: 700px; height: 370px;">
  <form name="fL" method="post" novalidate="novalidate" class="css-form" ng-submit="$ctrl.submitLogin(fL)">
    <table class="tableDecision" cellspacing='1' cellpadding='3' style="position: relative; top: 0px; left: 0px; width: 700px;">
      <tr style="height: 40px" valign="middle">
        <td align="right" width="20%">User Id :&nbsp;</td>
        <td align="left" width="80%">
          <input type="text" name="uid" ng-model="$ctrl.uid" required xx-unique ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }" class="dashboardTxt" style="width: 200px;" />
          <span ng-show="fL.$submitted || fL.login.$touched">
						<span class="sp" ng-show="fL.login.$error.required">User Id is mandatory!!</span>
          <span class="sp" ng-show="fL.login.$pending.xxUnique">Checking... Please hold on!!</span>
          <span class="sp" ng-show="fL.login.$error.xxUnique">Sorry, you must change your name :( !!</span>
          </span>
        </td>
      </tr>
      <tr style="height: 40px" valign="middle">
        <td align="right">Password :&nbsp;</td>
        <td align="left">
          <input type="text" name="pwd" ng-model="$ctrl.pwd" required ng-model-options="{ updateOn: 'blur', debounce: { default: 500, blur: 0 } }" class="dashboardTxt" style="width: 200px;" />
          <span class="sp" ng-show="fL.$submitted || fL.pwd.$touched">
						<span class="sp" ng-show="fL.pwd.$error.required">Password is mandatory!!</span>
          </span>
        </td>
      </tr>
      <tr style="height: 40px" valign="middle">
        <td align="right">Age :&nbsp;</td>
        <td align="left">
          <input type="number" name="age" ng-model="$ctrl.age" xx-integer min="18" max="80" class="dashboardTxt" style="width: 200px;" />
          <span ng-show="fL.$submitted || fL.age.$touched">
						<span class="sp" ng-show="fL.age.$error.min || fL.age.$error.max">You're a baby or too old to walk!!</span>
          <span class="sp" ng-show="fL.age.$error.xxInteger">Do you calculate your age daily ??</span>
          </span>
        </td>
      </tr>

      <tr style="height: 40px" valign="middle">
        <td align="right">Currency :&nbsp;</td>
        <td align="left">
          <select name="currency" ng-model="$ctrl.currency">
						<option ng-repeat="c in $ctrl.CURRENCY_CODES">{{c}}</option>
					</select>
        </td>
      </tr>
      <tr style="height: 40px" valign="middle">
        <td align="right">Numerical Value :&nbsp;</td>
        <td align="left">
          <span class="dashboardTxt">{{$ctrl.value() | money:$ctrl.currency}}</span>
        </td>
      </tr>
      <tr style="height: 50px" valign="bottom">
        <td align="center" colspan="2">
          <input type="submit" class="dashboardTxt" style="width: 150px; height: 40px" value="Login" />
        </td>
      </tr>
      <tr style="height: 40px" valign="middle">
        <td align="center" colspan="2">
          <a href="#!/forget">Forgot Password ?</a>
        </td>
      </tr>
    </table>
  </form>
</div>
<div><br>
  <p> Forget html starts from here...</p><br></div>
<forget></forget>
