.bgRed {
  background-color: #fee5ef;
  color: #ffffff;
}
.bgRed:hover {
  background-color: #f88f84;
  color: #ffffff;
}
.bgGreen {
  background-color: #cfdfb2;
  color: #ffffff;
}
.bgGreen:hover {
  background-color: #b4cf88;
  color: #ffffff;
}
.css-form input.ng-invalid.ng-touched {
  background-color: #fee5ef;
  color: #ffffff;
}
.css-form input.ng-invalid.ng-touched:hover {
  background-color: #f88f84;
  color: #ffffff;
}
.css-form input.ng-valid.ng-touched {
  background-color: #cfdfb2;
  color: #ffffff;
}
.css-form input.ng-valid.ng-touched:hover {
  background-color: #b4cf88;
  color: #ffffff;
}
.sp {
  transition: all linear 1s;
}
.sp.ng-hide {
  opacity: 0;
}
