/****************************************************************************************************/
/*********************************************** Definition *****************************************/
.shadow {
  -moz-box-shadow: 1px 1px 1px #AAA;
  -webkit-box-shadow: 1px 1px 1px #AAA;
  box-shadow: 1px 1px 1px #AAA;
}
.italic {
  font-style: italic;
}
.block {
  text-decoration: none;
  display: block;
  text-align: center;
  vertical-align: middle;
}
/****************************************************************************************************/
/************************************************** Menu ********************************************/
.menu {
  font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-decoration: none;
  display: block;
  text-align: center;
  vertical-align: middle;
}
.menuHL {
  font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-decoration: none;
  display: block;
  text-align: center;
  vertical-align: middle;
  background-color: #84B3F8;
  color: #ffffff;
  cursor: pointer;
}
.menuHL:hover {
  background-color: #b5D1FB;
}
.menuSel {
  font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-decoration: none;
  display: block;
  text-align: center;
  vertical-align: middle;
  background-color: #b5D1FB;
  color: #ffffff;
}
.menuBar {
  font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-decoration: none;
  display: block;
  text-align: center;
  vertical-align: middle;
  background-color: #e5eFFe;
  color: #666666;
}
.menuBarDKBlue {
  font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-decoration: none;
  display: block;
  text-align: center;
  vertical-align: middle;
  background-color: #b5D1FB;
  color: #ffffff;
}
.menuBarDKRed {
  font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-decoration: none;
  display: block;
  text-align: center;
  vertical-align: middle;
  background-color: #fee5ef;
  color: #666666;
}
.menuDKGo {
  background-image: url("../images/accept24.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: #e5eFFe;
}
.menuDKUSD {
  background-image: url("../images/usa.jpg");
  background-size: 28px 20px;
  background-repeat: no-repeat;
}
.menuDKINR {
  background-image: url("../images/india.jpg");
  background-size: 28px 20px;
  background-repeat: no-repeat;
}
.menuUpload {
  background-image: url("../images/upload24.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: #e5eFFe;
}
/****************************************************************************************************/
/************************************************** Menu ********************************************/
.acCard {
  background-image: url("../images/payment-card24.png");
  background-size: 24px 24px;
  background-repeat: no-repeat;
}
.acCash {
  background-image: url("../images/US-dollar24.png");
  background-size: 24px 24px;
  background-repeat: no-repeat;
}
.bulbGreen {
  background-image: url("../images/trafficlight-green24.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
.bulbRed {
  background-image: url("../images/trafficlight-red24.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
.bulbRedHL {
  background-image: url("../images/trafficlight-red24.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.bulbRedHL:hover {
  background-image: url("../images/trafficlight-green24.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
/****************************************************************************************************/
/*********************************************** General UI *****************************************/
.bodybg {
  position: relative;
  top: 0px;
  width: 100%;
  height: 100%;
}
.loginHeader {
  font: 14px Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: #375F92;
  font-weight: bold;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #678FC2;
}
.bodyDecision {
  background-color: #f4f4f4;
}
.sectionDecision {
  background-color: #fdfdfd;
  padding: 4px;
  -moz-box-shadow: 1px 1px 1px #AAA;
  -webkit-box-shadow: 1px 1px 1px #AAA;
  box-shadow: 1px 1px 1px #AAA;
}
.tableDecision {
  font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  padding: 0px;
}
.msgSuccess {
  font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: #30bf30;
  font-weight: normal;
}
.msgError {
  font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: #bf3030;
  font-weight: normal;
}
/****************************************************************************************************/
/********************************************** Grid & Nav *****************************************/
.dgEdit {
  background-image: url("../images/edit16.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.dgDelete {
  background-image: url("../images/delete16.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.dgAdj {
  background-image: url("../images/budget16.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.dgAdhoc {
  background-image: url("../images/shopping-basket16.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.dgUp {
  background-image: url("../images/up16.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.dgDown {
  background-image: url("../images/down16.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.navLeft {
  background-image: url("../images/navigate-left24.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.navRight {
  background-image: url("../images/navigate-right24.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  cursor: pointer;
}
/****************************************************************************************************/
/************************************************* Summary *******************************************/
.sum-header {
  font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.sum-headerGreen {
  font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  background-color: #b4cf88;
  color: #ffffff;
}
.sum-headerGrey {
  font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  background-color: #f4f4f4;
}
.sum-headerBlue {
  font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  background-color: #678FC2;
  color: #ffffff;
}
.sum-headerBlueHL {
  font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  cursor: pointer;
  background-color: #678FC2;
  color: #ffffff;
}
.sum-headerBlueHL:hover {
  background-color: #b5D1FB;
}
.sum-headerBlueMed {
  font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  background-color: #84B3F8;
  color: #ffffff;
}
.sum-headerBrown {
  font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  background-color: #ada27b;
  color: #ffffff;
}
.sum-headerBrownLight {
  font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  background-color: #c9bc8d;
  color: #ffffff;
}
.sum-data {
  font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.sum-dataBlue {
  font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  background-color: #84B3F8;
  color: #ffffff;
}
.sum-dataGrey {
  font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  cursor: pointer;
  background-color: #dfdfdf;
  color: #2F2C2C;
}
.sum-dataGrey:hover {
  background-color: #b5D1FB;
  color: #ffffff;
}
.sum-dataGreyLight {
  font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  cursor: pointer;
  background-color: #e9e9e9;
  color: #2F2C2C;
}
.sum-dataGreyLight:hover {
  background-color: #b5D1FB;
  color: #ffffff;
}
.test {
  font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  cursor: pointer;
  background-color: #678FC2;
  color: #ffffff;
}
.test:hover {
  background-color: #b5D1FB;
}
/****************************************************************************************************/
/************************************************** Tally *******************************************/
.tally {
  font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-decoration: none;
  display: block;
  text-align: center;
  vertical-align: middle;
}
.tallyBlueHL {
  font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-decoration: none;
  display: block;
  text-align: center;
  vertical-align: middle;
  background-color: #84B3F8;
  color: #ffffff;
  cursor: pointer;
}
.tallyBlueHL:hover {
  background-color: #b5D1FB;
}
.tallyBlueLight {
  font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-decoration: none;
  display: block;
  text-align: center;
  vertical-align: middle;
  background-color: #e5eFFe;
  color: #666666;
}
.tallyGreenHL {
  font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-decoration: none;
  display: block;
  text-align: center;
  vertical-align: middle;
  background-color: #b4cf88;
  color: #ffffff;
  cursor: pointer;
}
.tallyGreenHL:hover {
  background-color: #cfdfb2;
}
.tallyGreen {
  font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-decoration: none;
  display: block;
  text-align: center;
  vertical-align: middle;
  background-color: #b4cf88;
  color: #ffffff;
}
.tallyRedHL {
  font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-decoration: none;
  display: block;
  text-align: center;
  vertical-align: middle;
  background-color: #f88f84;
  color: #ffffff;
  cursor: pointer;
}
.tallyRedHL:hover {
  background-color: #fee5ef;
}
.tallyRedLight {
  font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-decoration: none;
  display: block;
  text-align: center;
  vertical-align: middle;
  background-color: #fee5ef;
  color: #666666;
}
.entryPanel {
  background-image: url("../images/home24.png");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: #b5D1FB;
}
.tallyButton {
  padding: 0px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.tallyButtonInner {
  background-image: url("../images/tally24.png");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: #ffffff;
}
.tallyButtonInner:hover {
  background-image: url("../images/tally24-hl.png");
}
/****************************************************************************************************/
/*************************************************** PF *********************************************/
.pf {
  text-decoration: none;
  display: block;
  text-align: center;
  vertical-align: middle;
}
.pfblue {
  background-color: #84B3F8;
  color: #ffffff;
}
.pfgreen {
  background-color: #b4cf88;
  color: #ffffff;
}
.pfred {
  background-color: #f88f84;
  color: #ffffff;
}
/****************************************************************************************************/
/************************************************* Search *******************************************/
.searchHeader {
  font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  background-color: #b4cf88;
  color: #ffffff;
}
.searchHeaderGreyTxt {
  font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  background-color: #b4cf88;
  color: #2F2C2C;
}
.searchTotal {
  font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  background-color: #84B3F8;
  color: #ffffff;
}
