/* Rules for sizing the icon. */

.card-content.mini {
  padding: .5rem 1.5rem;
}
.content.mini {
  margin-bottom: .5rem;
}
.card-footer-item.mini {
  padding: .25rem;
}
.material-icons.md-18 {
  font-size: 18px;
}
.my-purple {
  background: linear-gradient(60deg, #ab47bc, #8e24aa);
}
.my-blue {
  background: linear-gradient(60deg, #26c6da, #00acc1);
}
.my-red {
  background: linear-gradient(60deg, #ef5350, #e53935);
}
.my-green {
  background: linear-gradient(60deg, #66bb6a, #43a047);
}
.my-orange {
  background-color: #ff9800;
}
